extension.name=redCOOKIE
www.dir=/var/www/redCOOKIE
extension.version=1.1
joomla.version=2.5
repo.dir=/Applications/XAMPP/xamppfiles/htdocs/redCOMPONENT/redCOOKIE/
package.dir=/Applications/XAMPP/xamppfiles/htdocs/installers