.redproductfilter_tag_wrapper .redproductfilter_tag

{
	clear: both;
	overflow: hidden;
}

/*.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( '../images/loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto !important;
}*/

.redproductfilter_loading 
{
	background: url( '../images/loading.gif' ) no-repeat center 300px #000000;
    bottom: 0 !important;
    height: auto !important;
    left: 0 !important;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0 !important;
    width: auto !important;
    z-index: 999999;
    display: none;
}
.disabledItem{
	color: #b9b9b9;
	outline: medium none;
	text-decoration: line-through;
}
.countValues{
	color: #b9b9b9;
	font-size: 11px;
	padding-left: 5px;
}
.redproductfilter_tag_wrapper, .divPriceSlider{
	border: 1px solid #ccc;
	padding: 5px 5px 5px;
	margin: 0 -5px 15px;
}
.redproductfilter_typename{
	margin-bottom: 15px;
	color: #4e5842;
	font-family: 'gandhi_serifregular';
	font-size: 18px;
}
.priceTitle{
	float: left;
}
.resetFilter{
	float: right;
}
.redproductfilter_tag_first_level{
	clear: both;
}